.obsidian
.mp4
.smart-env
venv
.venv
env
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.ipynb_checkpoints
.DS_Store
*.mp4
.smart-env
*.dylib
Credentials.env
google_credentials.json